# dependencies
/node_modules
mdwa/node_modules

# testing
/coverage

# production
/build
mdwa/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sublime-workspace

# Local Netlify folder
.netlify
